@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hauora-Medium;
  src: url(/fonts/Hauora-Medium.ttf);
}

* {
  font-family: Hauora-Medium;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0e0e0e;
  color: #fff;
  overflow-anchor: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}